{% extends "AppHumansBundle::layout.html.twig" %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="../../../bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../../../bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../../styles.css">
    <link type="text/css" rel="stylesheet" href="../../../scrolling-nav.css">
    <script type="application/javascript" src="../../../jquery.js"></script>
    <script type="application/javascript" src="../../../bootstrap.js"></script>
    <script type="application/javascript" src="../../../scrolling-nav.js"></script>
{% endblock %}
{% block nav %}{{ parent() }}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-lg-8">
        <div id="form-login">
<h1>Bonjour {{ user.name }},</h1>

<h2>Information Utilisateur :</h2>

Tel : {{ user.phone }}<br>
Genre : {{ user.sexe }}<br>
Type d'habitat : {{ user.typeHabitat }}<br>
Lieu de vie : {{ user.lieuVie }}


<h2>Associations affilié :</h2>
{% if user.associations is defined %}
{% for element in user.associations %}
Nom : {{ element.name }}<br>
Adress : {{ element.adress }}<br>
Tel : {{ element.phone }}<br>
Email : {{ element.email }}<br>
Departement : {{ element.department }}<br><br>
{% endfor %}
{% else %}
    Aucunes associations
{% endif %}
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}